@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

html, body{
  margin: 0;
  padding : 0;
  font-family: 'DM Sans', sans-serif;
  background-color: black;
  color: #efffff;
}

html {
  scroll-behavior: smooth;
}
